# Crie uma cópia desse arquivo e o renomeie para .env. Altere os valores das configurações quando necessário

# Configurações do Django
SECRET_KEY=123456

# Configurações de acesso ao banco de dados
NAME=nome_do_banco_de_dados
USER=usuario_do_banco_de_dados
PASSWORD=senha_do_banco_de_dados
HOST=endereco_do_banco_de_dados (127.0.0.1 se estiver rodando local)
PORT=porta_onde_o_banco_esta_rodando (3306 para mysql, 5432 para postgresql, etc..)