{% extends "base.html" %}

{% block conteudo %}

    <div class="row my-2">
        <div class="col text-center">
            <h3>Confirmação de cadastro</h3>
        </div>
    </div>
    <hr>

    <form action="" method="post">
        {% csrf_token %}

        <div class="row justify-content-center">
            <div class="col-3">
                <div class="form-floating">
                    <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" required>
                    <label for="nome">Nome</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-floating">
                    <input
                        type="text"
                        name="sobrenome"
                        id="sobrenome"
                        class="form-control"
                        placeholder="Sobrenome"
                        required
                    >
                    <label for="sobrenome">Sobrenome</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-3">
                <div class="form-floating">
                    <input
                    type="text"
                    name="nome_de_usuario"
                    id="nome_de_usuario"
                    class="form-control"
                    placeholder="Nome de usuário"
                    required
                >
                    <label for="nome_de_usuario">Nome de usuário</label>
                </div>
            </div>

            <div class="col-3">
                <div class="form-floating">
                    <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="E-mail"
                    value="{{ pre_registro.email }}"
                    disabled
                >
                    <label for="email">E-mail</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-3">
                <div class="form-floating">
                    <input
                    type="password"
                    name="senha"
                    id="senha"
                    class="form-control"
                    placeholder="Senha"
                    required
                >
                    <label for="senha">Senha</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-floating">
                    <input
                    type="password"
                    name="confirmacao_de_senha"
                    id="confirmacao_de_senha"
                    class="form-control"
                    placeholder="Confirmação de Senha"
                    required
                >
                    <label for="confirmacao_de_senha">Confirmação de Senha</label>
                </div>
            </div>
        </div>



    </form>

{% endblock conteudo %}