{% extends "base.html" %}

{% block conteudo %}

    {% if validlink %}
        <div class="row mt-3">
            <div class="col text-center">
                <h2>Informe e confirme a nova senha</h2>
            </div>
        </div>

        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% for chave, valores in form.errors.items %}
                    <div class="row mt-2 justify-content center">
                        <div class="col-3">
                            <p>{{ chave }}</p>
                            <div class="row">
                                <ul>
                                    {% for valor in valores %}
                                        <li>{{ valor }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <button class="btn btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}

            <div class="row justify-content-center mt-3">
                <div class="col-3">
                    <div class="form-floating">
                        <input type="password" name="new_password1" id="new_password1" class="form-control" placeholder="Senha" required>
                        <label for="new_password1" class="form-label">Senha</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-3">
                    <div class="form-floating">
                        <input type="password" name="new_password2" id="new_password2" class="form-control" placeholder="Confirmação da Senha" required>
                        <label for="new_password2" class="form-label">Confirmação de Senha</label>
                    </div>
                </div>
            </div>
            <div class="row mt-2 justify-content-center">
                <div class="col-3 d-grid">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock conteudo %}