{% extends "base.html" %}

{% block conteudo %}
    {% if form.email.errors %}
        <div class="row">
            <div class="col">
                <p>{{ form.email.errors }}</p>
            </div>
        </div>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center mt-3">
            <div class="col-3">
                <div class="form-floating">
                    <input type="email" name="email" id="email" class="form-control" placeholder="email" required>
                    <label for="email" class="form-label">E-mail</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-3 d-grid">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
{% endblock conteudo %}