{% extends "base.html" %}

{% load static %}
{% block meus_estilos %}

    <link rel="stylesheet" href="{% static 'enquetes/styles.css' %}">

{% endblock meus_estilos %}

{% block conteudo %}
    <h1 id="titulo-perguntas">Lista de Perguntas</h1>
    <hr>

    {% if lista_perguntas %}
    <ul>
        {% for pergunta in lista_perguntas %}
            <li><a href="{% url 'enquetes:detalhes' pergunta.id %}">{{ pergunta.texto }}</a></li>
        {% endfor %}
    </ul>

    <hr>
    <a href="{% url "estatisticas:index" %}">Ir para as estatísticas do site</a>

    {% else %}
        <p>Não há perguntas cadastradas.</p>
    {% endif %}
{% endblock conteudo %}
