{% extends "base.html" %}

{% block titulo %}Gestão de Kitnets - Login{% endblock titulo %}

{% block conteudo %}

    <div class="row">
        <div class="col text-center"><h2>Login</h2></div>
    </div>
    <hr>

    <form action="" method="POST">
        {% csrf_token %}

        <div class="row justify-content-center">
            <div class="col-3">
                <div class="form-floating">
                    <input
                        type="text"
                        name="username"
                        id="id_username"
                        class="form-control"
                        placeholder="username">
                        <label for="id_username">Usuário</label>
                </div>
            </div>
        </div>
        <div class="my-1"></div>
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="form-floating">
                    <input
                        type="text"
                        name="password"
                        id="id_password"
                        class="form-control"
                        placeholder="password">
                        <label for="id_password">Senha</label>
                </div>
            </div>
        </div>
    </form>

{% endblock conteudo %}